.instaAuthForm {
  padding: 1.2rem;
  text-align: center;
  &__title-block {
    h1 {
      @include typography($primaryBlack, 3.2rem);
    }
    p {
      @include text($primaryGray, 1.6rem);
      margin-top: 0.8rem;
    }
  }
  &__form-block {
    margin-top: 3.5rem;
    display: flex;
    gap: 2.5rem;
    flex-direction: column;
    &__buttons {
      display: flex;
      justify-content: space-between;
      gap: 2.4rem;
      .button-disabled {
        padding: 1.6rem 5rem;
      }

      .button[type="submit"] {
        padding: 1.6rem 5rem;
        @include button($primaryWhite, 1.6rem, $primaryBlue);
      }
      .button {
        padding: 1.6rem 7rem;
        @include button($primaryWhite, 1.6rem, $secondaryGray);
      }
      .button-loading {
        padding: 1.4rem 8rem;
        @include button($primaryWhite, 1.6rem, $secondaryGray);
      }
    }
  }
}
