.schedule {
  &__title-block {
    h1 {
      @include typography($primaryBlack, 3.2rem);
    }
    p {
      @include text($primaryGray, 1.6rem);
      margin-top: 0.8rem;
      max-width: 67rem;
    }
  }
  &__content {
    display: flex;
    gap: 1.6rem;
    margin-top: 2.4rem;

    &--upload {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border: 1px solid;
      width: 440px;
      height: 440px;
      border-radius: 0.8rem;
    }
    &--text {
      border: 1px solid;
      width: 532px;
      height: 440px;
      border-radius: 0.8rem;
    }
  }
}
