.auth-layout {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &--logo {
    position: absolute;
    top: 3rem;
    left: 4rem;
    z-index: 9;
  }
  &__left-images {
    &--top {
      position: absolute;
      top: 0;
      left: 0;
    }
    &--middle {
      position: absolute;
      left: 0;
      top: 28%;
    }
  }
  &__right-images {
    &--top {
      position: absolute;
      top: 9%;
      right: 0;
    }
    &--middle {
      position: absolute;
      right: 0;
      top: 47%;
    }
    &--bottom {
      position: absolute;
      right: 3%;
      bottom: 0;
    }
  }
  &__container {
    width: 440px;
    height: 400px;
  }
}
