.signIn {
  text-align: center;
  &__title-block {
    position: relative;
    padding: 0.6rem 1.2rem 1.2rem;
    &--arrow {
      position: absolute;
      top: 0;
      left: 33%;
    }
    &--line {
      position: absolute;
      top: 0;
      left: 53%;
    }
    &--bottom-line {
      position: absolute;
      bottom: 0;
      left: 29%;
    }
    &--title {
      @include typography($primaryDark, 4.2rem);
    }
  }

  &__description {
    display: flex;
    align-items: center;
    justify-content: center;
    &--text {
      @include text($primaryGray, 1.6rem);
      margin: 3rem 0;
    }
    &--info {
      @include text($primaryGray, 1.6rem);
    }
    &--link {
      @include text($primaryBlue, 1.6rem);
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }
  .button {
    padding: 1.6rem 13.1rem;
    border: 0;
    @include button($primaryWhite, 1.6rem, $primaryBlue);
  }
  &__remember {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
  }
}
