@import "./base.scss";

@font-face {
  font-family: "IBMPlexSans-Bold";
  src: url("../fonts/IBMPlexSans-Bold.ttf");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Montserrat-Regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: IBMPlexSans-Bold;
}

html {
  font-size: 62.5%;
}

.password-icon {
  position: absolute;
  z-index: 9;
  right: 1.5rem;
  top: 1.5rem;
  cursor: pointer;
}
