//Primary colors

$primaryBlue: #3e7bfa;
$primaryLightBlue: #5b8def;
$primaryWhite: #ffffff;
$primaryBlack: #000000;
$primaryDark: #1c1c28;
$primaryGray: #8f90a6;
$primaryGreen: #06c270;
$primaryPurpleLight: #ccddff;
$primaryRed: #ff5c5c;
$primaryRedLight: #ff8080;
$primaryYellowLight: #f2f2f5;

//Secondary colors

$secondaryGray: #c7c9d9;
$secondaryDarker: #2c2c2c;
$secondaryBlack: #444444;
$secondaryDark: #444444;
$secondaryYellow: #fafafc;
$secondaryLight: #ebebf0;
