//Primary colors

$primaryBlue: #3e7bfa;
$primaryWhite: #ffffff;
$primaryBlack: #000000;
$primaryDark: #1c1c28;
$primaryGray: #8f90a6;
$primaryPurpleLight: #ccddff;
$primaryRedLight: #ff8080;

//Secondary colors

$secondaryGray: #c7c9d9;
$secondaryBlack: #444444;
$secondaryDark: #444444;
